@import url('https://fonts.googleapis.com/css?family=Gorditas|Open+Sans');

/* Globals */
:root {
  --font-sans: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --font-serif: Georgia, serif;
  --font-bold: 'Gorditas';
  --color-secondary: #333;
  --color-link: #635ac7;

  --accent: #F9608B;
  --theme: #7CABBB;

  --bg-light: #F4F7F8;
  --bg-dark: #405361;

  --radius: 13px;
  --soft-shadow: 0 3px 6px rgba(0,0,0,0.16);
  --small-shadow: 0 1px 3px 0 rgba(0,0,0,0.15);

  --screen-small: 700px; 

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

body {
  margin: 0;
  background: var(--bg-light);
}

a {
  color: var(--color-link);
}

/* Global Header */
.global-header {
  /* padding-bottom: 2rem; */
  /* padding-top: 2rem */
  text-align: center;
  font-family: var(--font-bold);
}

/* Header Quote */
.header-quote {
  color: var(--color);
  font-family: var(--font-serif);
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
  font-style: italic;
}

/* Global Footer */
.global-footer {
  color: var(--bg-light);
  font-family: var(--font-serif);
  text-align: center;
  background: var(--bg-dark);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
}

/* small card, overflow hidden to cut off any children that overflow the corners */
.card {
  box-shadow: var(--small-shadow);
  border-radius: var(--radius);
  background: white;
  overflow: hidden;
}